
.regContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.header {
    margin-top: 2%;
    font-size: 3.5rem;
    margin-block-end: 0.1em;
}

form {
    --text-color: #afafaf;
    width: 40%;
}

form .button {
    width: 50%;
    padding: 2% 0;
    margin-left: 25%;
    border-radius: 10px;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    outline: none;
    border: none;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0,0.5);
    cursor: pointer;
    transition: all 300ms ease 0ms;
    text-transform: uppercase;
}

form .button:hover {
    background-color: #141414;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0,0.5);
}

.regError {
    color: red;
    height: 5%;
    font-size: 70%;
    font-style: italic;
}

.loginLinkContainer {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loginLink {
    text-decoration: none;
    color: rgb(103, 103, 253);
}


/* Style for fireship form */


.field {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--text-color);
    margin: 3rem auto 1rem;
}

.label {
    color: var(--text-color);
    font-size: 0.9rem;
}

.input{
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}



.field:nth-child(2) > .input:invalid {
    color: red;
}



.field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: #141414;
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    transform: scaleX(1);
}

/* label animation */

.label {
    z-index: -1;
    position: absolute; 
    left: 0;
    transform: translateY(-1rem);
    transform-origin: 0%;
    transition: transform 400ms;
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
    transform: scale(0.8) translateY(-3rem);
}


/* Strength */

.strength {
    display: flex;
    height: 20px;
    width: 100%;
}

.bar {
    margin-right: 5px;
    height: 90%;
    width: 25%;
    transition: box-shadow 500ms;
    box-shadow: inset 0px 20px #727272;
}

.barShow {
    box-shadow: none;
}

.bar1 {
    background: linear-gradient(to right, red, orangered);
}

.bar2 {
    background: linear-gradient(to right, orangered, yellow);
}

.bar3 {
    background: linear-gradient(to right, yellow, yellowgreen);
}

.bar4 {
    background: linear-gradient(to right, yellowgreen, green);
}

.errorConfirmPassword, .confirmPassLabelError, .emailLabelError, .nameLabelError {
    color: red;
}